meltano/utilities/generate-es-reports/generate_es_reports/schemas/CTRI/ssf_ctri_referencia.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/referencia"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/referencia">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="referencia">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="nit_deudor">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nit Deudor
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="14"/>
                              <xs:minLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_cartera">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código de Cartera
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:length value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_activo">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Activo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:length value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="num_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Numero Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="20"/>
                              <xs:minLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="monto_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Otorgado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Adeudado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_vigente_k">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Vigente Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_vencido_k">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Vencido Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_vigente_i">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Vigente Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_vencido_i">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Vencido Interes
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="abono_deposito">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Abono ó Depósito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_otorgamiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Otorgamiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_vencimiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Vencimiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_castigo" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Castigo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="estado_credito">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Estado del Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:length value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_mora_k">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Mora Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_mora_i">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo Mora Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="dias_mora_k" type="xs:int">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Dias Mora Capital
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="dias_mora_i" type="xs:int">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Días Mora Interés
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="fecha_inicio_mora_k" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Inicio Mora Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_inicio_mora_i" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Inicio Mora Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="pago_capital" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Pago de Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="A"/>
                              <xs:enumeration value="E"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="M"/>
                              <xs:enumeration value="T"/>
                              <xs:enumeration value="B"/>
                              <xs:enumeration value="S"/>
                              <xs:enumeration value="D"/>
                              <xs:enumeration value="P"/>
                              <xs:enumeration value="V"/>
                              <xs:enumeration value="Q"/>
                              <xs:enumeration value="O"/>
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="pago_interes" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Pago de Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="A"/>
                              <xs:enumeration value="E"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="M"/>
                              <xs:enumeration value="T"/>
                              <xs:enumeration value="B"/>
                              <xs:enumeration value="S"/>
                              <xs:enumeration value="D"/>
                              <xs:enumeration value="P"/>
                              <xs:enumeration value="V"/>
                              <xs:enumeration value="Q"/>
                              <xs:enumeration value="O"/>
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="periodo_gracia_k" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Periodo de Gracia Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:maxInclusive value="32767"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="periodo_gracia_i" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Periodo de Gracia Interes
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:maxInclusive value="32767"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="garante" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Garante
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="emision" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Denominación de Emisión
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="15"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="pais_destino_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
País Destino del Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">                    
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="destino" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Destino
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="codigo_moneda">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código de Moneda
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="2"/>
                              <xs:enumeration value="1"/>
                              <xs:length value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tasa_interes">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tasa de Interés Vigente
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tasa_contractual">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tasa Contractual
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tasa_referencia" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tasa de Referencia Publicada
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tasa_efectiva">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tasa Efectiva
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_tasa_interes" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Tasa de Interes
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="F"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="A"/>
                              <xs:maxLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_prestamo" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Préstamo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="CD"/>
                              <xs:enumeration value="CR"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="CI"/>
                              <xs:enumeration value="NR"/>
                              <xs:enumeration value="TC"/>
                              <xs:enumeration value="CT"/>
                              <xs:enumeration value="NA"/>
                              <xs:enumeration value="SO"/>
                              <xs:enumeration value="SA"/>
                              <xs:enumeration value="DI"/>
                              <xs:enumeration value="CU"/>
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="codigo_recurso" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código de Fuente de Recurso
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="02"/>
                              <xs:enumeration value="01"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="12"/>
                              <xs:enumeration value="03"/>
                              <xs:enumeration value="06"/>
                              <xs:enumeration value="05"/>
                              <xs:enumeration value="04"/>
                              <xs:enumeration value="10"/>
                              <xs:enumeration value="08"/>
                              <xs:enumeration value="09"/>
                              <xs:enumeration value="13"/>
                              <xs:enumeration value="11"/>
                              <xs:enumeration value="07"/>
                              <xs:enumeration value="99"/>
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ultima_fecha_venc" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Ultima Fecha de Vencimiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="dias_prorroga" nillable="true" type="xs:int">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Días Prorroga
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="monto_desembolsado">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Desembolsado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value=""/>
                              <xs:enumeration value="FC"/>
                              <xs:enumeration value="RF"/>
                              <xs:enumeration value="RE"/>
                              <xs:enumeration value="RR"/>
                              <xs:enumeration value="RP"/>
                              <xs:enumeration value="SG"/>
                              <xs:enumeration value="RT"/>
                              <xs:enumeration value="CO"/>
                              <xs:enumeration value="CF"/>
                              <xs:enumeration value="CR"/>
                              <xs:enumeration value="CE"/>
                              <xs:enumeration value="CC"/>
                              <xs:enumeration value="CT"/>
                              <xs:enumeration value="CP"/>
                              <xs:enumeration value="CG"/>
                              <xs:enumeration value="CV"/>
                              <xs:enumeration value="PF"/>
                              <xs:enumeration value="PR"/>
                              <xs:enumeration value="PE"/>
                              <xs:enumeration value="PT"/>
                              <xs:enumeration value="PP"/>
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_ultimo_pago_k" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Ultima Pago de Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_ultimo_pago_i" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Ultimo Pago de Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="dia_pago_k" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Dia Pago de Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:short">
                              <xs:maxInclusive value="31"/>
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="dia_pago_i" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Dia Pago de Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:short">
                              <xs:maxInclusive value="31"/>
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cuota_mora_k" nillable="true" type="xs:short">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Cuota Mora de Capital
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="cuota_mora_i" nillable="true" type="xs:short">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Cuota Mora de Interés
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="monto_cuota" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto de la Cuota
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cuenta_contable_k" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Cuenta Contable de Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cuenta_contable_i" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Cuenta Contable de Interés
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_cancelacion" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Cancelación
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="adelanto_capital" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Adelanto de Capital
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="riesgo_neto">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Riesgo Neto
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_seguro" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo del Seguro del Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="saldo_costas_procesales" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Saldo de Costas Procesales
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_tarjeta_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo Tarjeta de Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="2"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="1"/>
                              <xs:maxLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="clase_tarjeta_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Clase de Tarjeta de Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="4"/>
                              <xs:enumeration value=""/>
                              <xs:enumeration value="1"/>
                              <xs:enumeration value="2"/>
                              <xs:enumeration value="3"/>
                              <xs:maxLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="producto_tarjeta_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Producto de Tarjeta de Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="20"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="valor_garantia_cons" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Valor Consolidado de la Garantía
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="distrito_otorgamiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código del Distrito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="reserva_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Reserva
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="etapa_judicial" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Etapa Judicial
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value=""/>
                              <xs:enumeration value="6"/>
                              <xs:enumeration value="2"/>
                              <xs:enumeration value="1"/>
                              <xs:enumeration value="4"/>
                              <xs:enumeration value="5"/>
                              <xs:enumeration value="3"/>
                              <xs:maxLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_demanda" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Demanda
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:maxInclusive value="9999-12-31"/>
                              <xs:minInclusive value="1800-01-01"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="plazo_credito" nillable="true" type="xs:int">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Plazo del Crédito
]]></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="orden_descuento" nillable="true">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2"/>
                              <xs:enumeration value="CO"/>
                              <xs:enumeration value="SO"/>
                              <xs:enumeration value=""/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="categoria_riesgo_ref" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Categoria de Riesgo por Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2"/>
                              <xs:enumeration value="A1"/>
                              <xs:enumeration value="A2"/>
                              <xs:enumeration value="B"/>
                              <xs:enumeration value="C1"/>
                              <xs:enumeration value="C2"/>
                              <xs:enumeration value="D1"/>
                              <xs:enumeration value="D2"/>
                              <xs:enumeration value="E"/>
                              <xs:enumeration value="E1"/>
                              <xs:enumeration value="E2"/>
                              <xs:enumeration value="E3"/>
                              <xs:whiteSpace value="collapse"/>
                              <xs:enumeration value=""/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="reserva_constituir" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Reserva acumulada a constituir COVID
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="porcentaje_reserva" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Porcentaje de la Reserva constituida COVID
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="pago_cuota" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
							   <![CDATA[
Monto de cuota pagada por el cliente en el mes COVID
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_pago" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
							   <![CDATA[
Fecha en la que el cliente pagó la cuota por créditos COVID
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:minInclusive value="1800-01-01"/>
                              <xs:maxInclusive value="9999-12-31"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="porcenta_reserva_descon" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
							   <![CDATA[
Porcentaje de reserva a descontar de los créditos agropecuarios NRP-26
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="porcenta_adiciona_descon" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
							   <![CDATA[
Porcentaje de reserva a descontar adicional de los créditos agropecuarios NRP-26
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="depto_destino_credito" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Departamento Destino del Crédito
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">                            
                              <xs:enumeration value="01"/>
                              <xs:enumeration value="02"/>
                              <xs:enumeration value="03"/>
                              <xs:enumeration value="04"/>                              
                              <xs:enumeration value="05"/>
                              <xs:enumeration value="06"/>
                              <xs:enumeration value="07"/>
                              <xs:enumeration value="08"/>
                              <xs:enumeration value="09"/>
                              <xs:enumeration value="10"/>
                              <xs:enumeration value="11"/>
                              <xs:enumeration value="12"/>                              
                              <xs:enumeration value="13"/>
                              <xs:enumeration value="14"/>
                              <xs:enumeration value=""/>     
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="porc_reserva_referencia" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
                              <![CDATA[
Porcentaje de reserva por Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="calculo_brecha" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
                              <![CDATA[
Cálculo de la Brecha
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ajuste_brecha" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
                              <![CDATA[
Ajuste de la Brecha
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="2"/>
                              <xs:totalDigits value="12"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="programa_asist_cafe" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Programa de Asistencia al Café
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_cump_cafe" nillable="true">
                        <xs:annotation>
                           <xs:documentation>
                              <![CDATA[
Fecha de Cumplimiento a asistencia del café
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:date">
                              <xs:minInclusive value="1900-01-01"/>
                              <xs:maxInclusive value="9999-12-31"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
