meltano/utilities/generate-es-reports/generate_es_reports/schemas/CTRI/ssf_ctri_garantia_aval.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
   elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/garantia_aval"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/garantia_aval">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="garantia_aval">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="num_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_cartera">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Cartera
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_activo">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Activo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="identificacion_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Identificación de la Garantía
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_banco">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código del Banco Emisor
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="4"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="monto_aval">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Aval
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_otorgamiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Otorgamiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_vencimiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Vencimiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>