meltano/utilities/generate-es-reports/generate_es_reports/schemas/CTRI/ssf_ctri_garantia_poliza.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
   elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/garantia_poliza"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/garantia_poliza">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="garantia_poliza">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="identificacion_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Identificación de la Garantía
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="monto_poliza">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Poliza
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_inicial">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Inicial Vigencia
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_final">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha Final Vigencia
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nombre_asegurado">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nombre del Asegurado
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="100"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="monto_reserva">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Reserva
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="valor_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto de Valores Garantizados
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>