meltano/utilities/generate-es-reports/generate_es_reports/schemas/CTRI/ssf_ctri_referencia_garantia.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
   elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/referencia_garantia"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/referencia_garantia">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="referencia_garantia">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="num_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_cartera">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Cartera
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_activo">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Activo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="identificacion_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Identificación de la Garantía
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Garantía
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="valor_garantia_proporcional">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Valor Proporcional de la Garantia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>